
		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="phone">+88 01797-363591</div>
						<div class="social">
							<ul class="social_list">
								<li class="social_list_item"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li class="social_list_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="social_list_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li class="social_list_item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li class="social_list_item"><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								<li class="social_list_item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>

						<div class="user_box ml-auto">
                            {% if user.is_authenticated %}
                                <div class="dropdown">
                                      <button style="background-color: #31124b;border: none;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ user.username }}
                                      </button>
                                      <div style="background-color:#31124b;color: black;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a style="color: orange" class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                        <a style="color: orange" class="dropdown-item" href="{% url 'logout' %}">logout</a>

                                      </div>
                                    </div>
                                {% else %}
                                <div class="user_box_login user_box_link"><a href="{% url 'login' %}">login</a></div>
							<div class="user_box_register user_box_link"><a href="{% url 'register' %}">register</a></div>
                            {% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>